@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', Poppins ;

}

body{
    font-family: Mukta;
    background: url(../assets/images/pexels-photo-7130493\ \(1\).webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 80px;
    width: 100%;
    background: grey;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav li{
    display: inline-block;
    margin: 0 30px;
    line-height: 60px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;

    }

    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }

    nav ul.show{
        left: 0;

    }

    section{
        background: url(../assets/images/pexels-photo-7130493\ \(1\).webp) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);

    }

}

#swim-outer{
    height: 350px;
    width: 100%;
    overflow: hidden;
}
#swim-image{
    height: 350px;
    width: 100%;
    background: url('../assets/images/TheSwimStudioSlider2.jpg') no-repeat center center;
    

}

.mvv-container{
    max-width: 90%;
    margin: 50px auto 0;
}

.mvv-container .mvv-block{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mvv-container .mvv-block .image{
    flex: 0 0 auto;
    width: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
    line-height: 0%;
}

.mvv-container .mvv-block .image img{
    width: 100%;
    transition: .3s;
    transform: scale(1);
}

.mvv-container .mvv-block .image:hover img{
    transform: scale(1.05);
}

.mvv-container .mvv-block .content{
    flex: 0 0 auto;
    width:calc(100% - 400px);
    box-sizing: border-box;
    align-self: center;

}

.mvv-container .mvv-block .content h3{
    font-weight: 700;
    font-size: 26px;
    color: #2f3640;
    margin-bottom: 10px;
}

.mvv-container .mvv-block .content p{
    font-size: 17px;
}
@media screen and (min-width: 1024px)
{
    .mvv-container .mvv-block:nth-child(odd) .image
   { order: 1;
} 
.mvv-container .mvv-block:nth-child(even) .image
{ order: 2;
} 

.mvv-container .mvv-block:nth-child(odd) .content
{
    order: 2;
    padding-left: 30px;
} 
.mvv-container .mvv-block:nth-child(even) .content
{
    order: 1;
    padding-right: 30px;
}   
}


footer{
    height: 150px;

}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}