@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', Poppins ;

}

.header{
    background: url(../assets/images/back\ ground\ image.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
